#save_search_button_load{
	width:31px;
	height:31px;
	display:none;
	float:left;
}

.passive{
	pointer-events: none;
  cursor: default;
  opacity: 0.6;
}

.circ{
    opacity: 0;
    stroke-dasharray: 130;
    stroke-dashoffset: 130;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -ms-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}
.tick{
    stroke-dasharray: 50;
    stroke-dashoffset: 50;
    -webkit-transition: stroke-dashoffset 1s 0.5s ease-out;
    -moz-transition: stroke-dashoffset 1s 0.5s ease-out;
    -ms-transition: stroke-dashoffset 1s 0.5s ease-out;
    -o-transition: stroke-dashoffset 1s 0.5s ease-out;
    transition: stroke-dashoffset 1s 0.5s ease-out;
}
.drawn + svg .path{
    opacity: 1;
    stroke-dashoffset: 0;
}

#save_search_result{
	width:72px;
	float: left;
}

#save_search_button{
	float: left;
}

.clear_both{
	clear:both;
}

.svg_wrapper{
	float:left;
	width: 29px;
  height: 29px;
}

.delete_saved_search{
	cursor:pointer;
	font-weight:bold;
}

.loading_gif{
  background:url("ajax_load.gif") no-repeat;
  width:26px;
  height:31px;
  float: left;
}

.delete_saved_search,.search_notifications{
	float:left;
}